/*general rules*/
h3{
  font-family: 'Ubuntu', sans-serif;

}

p{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}


/*custom rules*/
#design-logo{
  width: 500px;
  height: 500px


}

a {
  color: grey;
}
a:hover {
  text-decoration: none;
  color: lightgrey;
