/*general rules*/
h3{
  font-family: 'Ubuntu', sans-serif;

}

p{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a {
  color: grey;
}
a:hover {
  text-decoration: none;
  color: lightgrey;
}


/*custom rules*/
#design-logo{
  /* width: 500px;
  height: 500px */
  padding: 0;

}

#design-button{
  width: 85px;
  border-radius: 25px;


}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  box-shadow: 2px 2px #888888;
  margin: 15px;

}
